/*********************************************** VARS AND MIXINS */
$border: 1px solid rgba(#999, 0.3);
$hoverBg: rgba(#999, 0.2);
$hoverFg: #ccc;

/*********************************************** LAYOUT */
body {
  background: #333;
  color: #999;
  font-family: helvetica, sans-serif;
}

.l-main {
  display: flex;
  flex-direction: row;
  padding: 10px;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.l-nav {
  flex: 0 0 auto;
  width: 300px;
}

.l-view {
  flex: 1 1 auto;
  border-left: $border;
  margin-left: 10px;
  padding-left: 10px;
}

/*********************************************** NAV ITEMS */
.c-nav-item {
  // border-bottom: $border;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 0;
  user-select: none;

  > * + * {
    margin-left: 5px;
  }

  &__tree-up,
  &__tree-down,
  &__label {
    border-radius: 3px;
    &:hover {
      background: $hoverBg;
      color: $hoverFg;
    }
  }

  &__tree-up,
  &__tree-down {
    $d: 24px;
    color: #fff;
    flex: 0 0 auto;
    height: $d;
    width: $d;
    opacity: 0;
    position: relative;
    text-align: center;
    &:before {
      // Nav arrow
      $c: rgba(#999, 0.5);
      $d: 7px;
      $w: 3px;
      border: solid $c;
      border-width: $w;
      border-width: 0 $w $w 0;
      content: '';
      display: block;
      position: absolute;
      left: 50%; top: 50%;
      height: $d;
      width: $d;
    }

    &:hover:before {
      border-color: $hoverFg;
    }
  }

  &__tree-up:before {
    transform: translate(-30%, -50%) rotate(135deg);
  }

  &__tree-down:before {
    transform: translate(-70%, -50%) rotate(-45deg);
  }

  &__label {
    padding: 4px 5px;
    flex: 1 1 auto;
  }

  &--center {
    .c-nav-item__label {
      color: #fff;
    }
  }

  &--in-view {
    .c-nav-item__label {
      background: rgba(#999, 0.3);
    }
  }

  &--ancestors {
    // Always show nav up element
    .c-nav-item {
      &__label {
        //color: #666;
      }
      &__tree-up {
        opacity: 1;
      }
    }
  }

  &--siblings,
  &--children {
    &.c-nav-item--has-kids {
      .c-nav-item__tree-down {
        opacity: 1;
      }
    }
  }

  &--children {
    .c-nav-item__label {
      margin-left: 15px;
    }
  }
}

// MISC
h2 {
  margin-top: 0;
}
